<head>
    {{> head}}
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="py-4 text-center">
            <h2>Crea nuova assemblea</h2>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        {{#if error}}
                        <h1 class="text-danger display-1"><i class="fas fa-times"></i></h1>
                        <h5 class="card-title">Si è verificato un errore!</h5>
                        <p class="card-text">Durante il processo di creazione dell'assemblea si è verificato un errore.</p>
                        <pre>
                            {{error}}
                        </pre>
                        <p class="card-text">Contatta il Tronweb per maggiori informazioni (<a href="mailto://direzione.tronweb@gmail.com">direzione.tronweb@gmail.com</a>).</p>
                        {{else}}
                        <h1 class="text-success display-1"><i class="fas fa-check"></i></h1>
                        <h5 class="card-title">Creazione completata con successo</h5>
                        <p class="card-text">Hai creato l'assemblea con successo, dalla dashboard potrai vedere e modificare informazioni e laboratori.</p>
                        {{/if}}
                        <div class="btn-group">
                            <a href="/gestore/dashboard" class="btn btn-outline-primary">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted text-center text-small">
        <p class="m-0">Copyright &copy; 2019 TronWeb | Davide Testolin | Made with Node.js</p>
    </footer>
    {{> scripts}}
</body>
