<head>
    {{> head}}
    <link rel="stylesheet" href="/css/assemblea.css" />
</head>
<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md">
                {{#if error}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}

                {{#if success}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
            </div>
        </div>

        <div class="row mt-1">
            {{> infoTemplate}}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group">
                    {{#if edit}}
                        <button class="btn btn-success" id="updateBtn" disabled>Aggiorna</button>
                    {{else}}
                        <a href="/gestore/informazioni/modifica" class="btn btn-warning">Modifica</a>
                    {{/if}}
                </div>
                <div class="btn-group">
                    <a href="/gestore/dashboard" class="btn btn-outline-primary">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted text-center text-small">
        <p class="m-0">Copyright &copy; 2019 TronWeb | Davide Testolin | Made with Node.js</p>
    </footer>
    {{> scripts}}
    <script>
        $(document).ready(function() {
            $('#infoForum').attr('action', '/gestore/informazioni/modifica');
            $('#assDate').change(unlockBtn);
            $('#assSubStartDate').change(unlockBtn);
            $('#assSubStartTime').change(unlockBtn);
            $('#assSubEndDate').change(unlockBtn);
            $('#assSubEndTime').change(unlockBtn);

            $('#updateBtn').click(function (event) {
                event.preventDefault();
                $('#infoForum').submit();
            });
        });

        function unlockBtn() {
            $('#updateBtn').removeAttr('disabled');
        }
    </script>
</body>
