<head>
    {{> head}}
    <link rel="stylesheet" href="/css/assemblea.css" />
    {{> scripts}}
</head>
<body>
    <div class="container">
        <div class="row pt-5">
            {{> labsTemplate}}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group">
                    <a href="/gestore/dashboard" class="btn btn-outline-primary">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted text-center text-small">
        <p class="m-0">Copyright &copy; 2019 TronWeb | Davide Testolin | Made with Node.js</p>
    </footer>
</body>
