<head>
    {{> head}}
    <link rel="stylesheet" href="/css/styleLogin.css" />
</head>
<body>
    <div class="form-signin">
        <div class="resp-image">
            <img class="mb-4" src="/img/tron_logo.png" alt="" style="width:100%;height:auto">
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="card-text">
                    <p class="text-success">
                        Logout eseguito con successo
                    </p>
                </div>
                <div class="text-center">
                    <a href="/gestore/" class="btn btn-outline-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
    {{> scripts}}
</body>
