<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {{> head}}
        <title>{{title}}</title>
        {{#if loginPage}}
            <link rel="stylesheet" href="/css/styleLogin.css" />
        {{else}}
            <link rel="stylesheet" href="/css/style.css" />
        {{/if}}
    </head>
    <body>
        {{{body}}}
        {{> scripts}}
    </body>
</html>
