.ReactVirtualized__Table__headerRow {
    border-bottom: 2px solid #dee2e6;
    color: #9aa0ac;
    font-size: .875rem;
    font-weight: 400;
}

.ReactVirtualized__Table__headerColumn:first-of-type, .ReactVirtualized__Table__rowColumn:first-of-type {
    margin-left: 25px;
}

.ReactVirtualized__Table__row {
    border: .2px solid #dee2e6;
}

.ReactVirtualized__Table {
    border: none !important;
}

.ReactVirtualized__Table__Grid:focus {
    outline: none !important;
}