<head>
    {{> head}}
    <link rel="stylesheet" href="/css/styleLogin.css" />
</head>
<body>
    <div class="form-signin">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <!--<h1 class="card-title text-danger display-1"><i class="fas fa-exclamation-triangle"></i></h1>-->
                <h1 class="text-muted display-1">{{code}}</h1>
                <div class="card-text">
                    <p>
                        {{message}}
                    </p>
                </div>
                <div class="text-center">
                    <a href="{{redirect}}" class="btn btn-outline-primary">Home</a>
                </div>
            </div>
        </div>
    </div>
    {{> scripts}}
</body>
