/* Extra CSS to fix tabler-react alpha lack*/
.navbar-toggler-icon {
    background-color: transparent !important;
}

.navbar .nav-link .icon {
    vertical-align: middle !important;
    margin-right: 2px;
}

.nav-link.active {
    color: #467fcf !important;
    background: transparent;
}

.card-title {
    line-height: normal !important;
}

.flex-fill {
    width: 100% !important;
}

.page-title {
    line-height: 1.5rem !important;
}

.root {
    display: flex;
    flex-flow: row wrap;
}

.root > * {
    flex: 1 100%;
}

footer {
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

footer div {
    height: 60px !important;
}

span.footer-span {
    color: #888e9a;
}

span.footer-span a {
    color: #697282
}

div.tw-modal {
    box-shadow: 0 0 8px #9E9E9E;
}

button.selector-btn {
    background-color: #fbfbfc;
    border-color: #ced4da;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        flex-direction: column !important;
    }
    .navbar .nav-item {
        display: block;
        padding-left: 2rem;
    }
    span.footer-span {
        font-size: .7rem;
    }
}