@import '~bootstrap';
@import '~bootstrap-vue';

$toast-colors: (
    'info': $info,
    'success': $success,
    'warning': $warning,
    'error': $danger
);

.v-notices {
    .v-toast {
        border-radius: 0.15em;
        border-left: 4px solid #fff;
        color: #1c2c41;
        background-color: #fff;
    }

    // Colors
    @each $color, $value in $toast-colors {
        .v-toast-#{$color} {
            border-left-color: $value;
        }
    }
}
